@font-face {
	font-family: "M+ 2c";
	font-style: normal;
	font-weight: 100;
	src: local("M+ 2c thin"), local("mplus-2c-thin"),
		url("mplus-2c-thin.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "M+ 2c";
	font-style: normal;
	font-weight: 300;
	src: local("M+ 2c light"), local("mplus-2c-light"),
		url("mplus-2c-light.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "M+ 2c";
	font-style: normal;
	font-weight: 400;
	src: local("M+ 2c regular"), local("mplus-2c-regular"),
		url("mplus-2c-regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "M+ 2c";
	font-style: normal;
	font-weight: 500;
	src: local("M+ 2c medium"), local("mplus-2c-medium"),
		url("mplus-2c-medium.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "M+ 2c";
	font-style: normal;
	font-weight: 700;
	src: local("M+ 2c bold"), local("mplus-2c-bold"),
		url("mplus-2c-bold.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "M+ 2c";
	font-style: normal;
	font-weight: 800;
	src: local("M+ 2c heavy"), local("mplus-2c-heavy"),
		url("mplus-2c-heavy.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "M+ 2c";
	font-style: normal;
	font-weight: 900;
	src: local("M+ 2c black"), local("mplus-2c-black"),
		url("mplus-2c-black.ttf") format("truetype");
	font-display: swap;
}
