:root,
body {
	height: 100%;
	width: 100%;
}

:root {
	--standard-curve: cubic-bezier(0.4, 0, 0.2, 1);
	--standard-border-radius: 0.75rem;
	--line-height: 1.5;
	--line-space: 1.5rem;
}

body {
	margin: 0;
	color: var(--text-color);
	background: var(--background-color);
	position: relative;

	/*
      Primary font is M+ Type-2, followed by fallbacks
      https://stackoverflow.com/questions/14563064/japanese-standard-web-fonts/14573813#14573813
    */
	font-family: "M+ 2p", "MS PGothic", "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP", TakaoPGothic,
		sans-serif;
	font-size: 16px;
}

* {
	touch-action: pan-y; /* Prevent zooming in mobile Safari. */
}

p {
	font-size: 1em;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures contextual;
	font-feature-settings: "kern", "liga", "clig", "calt";
	margin-top: 0;
	margin-bottom: var(--line-space);
}

h1 {
	font-size: 2em;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: var(--line-space);
	line-height: 1.25;
}

h2 {
	font-size: 1.5em;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: var(--line-space);
	line-height: 1.25;
}

h3 {
	font-size: 1.25em;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: var(--line-space);
	line-height: 1.25;
}

hr {
	border: none;
	background: var(--text-color-lighter);
	height: 1px;
	margin: calc(1.5 * var(--line-space)) 0;
}

.content-width {
	max-width: 40rem;
}

.content-padding {
	padding: 2rem;

	@media screen and (max-width: 40em) {
		padding: 1.5rem;
	}
}

.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
